.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Add gap between elements */
  padding: 20px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .container4 .columns-container4 {
    flex-direction: column;
  }

  .container4 .column {
    flex: 1 1 100%;
    margin-bottom: 20px; /* Add space between columns on mobile */
  }
}
